@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables used for theme colours */
:root {
  --light-body-background: #EAEAEB;
  --light-banner-colour: #B7B6B7;
  --light-sidebar: #D9D9D9;
  --light-title-colour: black;
  --light-card: #BDBDBC;

  --navbar-hover: #555;

  --dark-body-background: #22314f;
  --dark-sidebar-background: #1b2030;
  --dark-sidebar-main: #DBE9FE;
  --dark-banner-gradient: linear-gradient(to right, #1d2232, #1b2030);
  --dark-title-colour: #dbeafe;
  --dark-card: #374151;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #EAEAEB; */
  overflow-x: hidden;
  background: linear-gradient(to right, var(--light-body-background), var(--light-sidebar));

}

.dark body{
  /* background-color: #22314f; */
  background-color: var(--dark-body-background);
  background: linear-gradient(to right, var(--dark-body-background), var(--dark-sidebar-background));
}

.banner {
  /* background-color: #B7B6B7; */
  background-color: var(--light-banner-colour);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  width: 100vw;
  z-index: 2000;
}
.dark .banner{
  /* background: linear-gradient(to right, #1d2232, #1b2030); */
  background: var(--dark-banner-gradient);
}

.dark .title{
  /* color: #dbeafe; */
  color: var(--dark-title-colour)
}

.interactive-map {
  margin-left: 2vw;
  z-index: 0;
}

.dial-container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.title {
  /* color: black; */
  color: var(--light-title-colour);
  font-size: 34px;
  /* padding-left: 20px; */
  font-weight: bold;
  z-index: 10000
}

.dot {
  @apply transition-transform duration-500 ease-in-out;
}

.dark .divider {
  @apply  border-white
}

.divider {
  @apply mx-4 border border-black
}

/* Change design from bottom bar to side bar based on the screen size */
@layer components {

  /* Sidebar code */
  .dark .sidebar{
    /* background-color: #1b2030;
    color: #DBE9FE; */
    background-color: var(--dark-sidebar-background);
    color: var(--dark-sidebar-main);
  }

  ::-webkit-scrollbar {
    transition: width 0.3s ease;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,0,0,0.8);
  }
  ::-webkit-scrollbar-track {
    opacity: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: red;
  }

  .sidebar:hover {
    left: 0;
  }
  
  .sidebar {
    position:fixed;
    top: 0;
    /* background-color: #D9D9D9; */
    background-color: var(--light-sidebar);
    width: 160px;
    height: 100vh;
    left: -110px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    transition: left 0.3s ease;
    scrollbar-width: none;
    z-index: 1000;
  }

    /* Topbar code */
    .topbar{
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow: scroll;
      z-index: auto;
      height: 4rem;
    }
  
    .dark .topbar{
      /* background: linear-gradient(to right, #1b2030, #1f2535); */
      background: var(--dark-banner-gradient);
      color: #DBE9FE;
    }
}


@layer components{

  /* Sidebar code */
  .sidebar-button {
    display: flex;
    width: 100%;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: end;
    text-indent: -999px;
    font-size: 20px;
  }

  .topbar-button svg {
    margin-left: 7px;
  }
  
  .sidebar-button:hover {
    background-color: var(--navbar-hover);
    text-indent: 0;
  }

  /* Top bar code */
  .topbar-button{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid black;
    align-items: center;
  }

  .topbar-button:hover {
    background-color: var(--navbar-hover);
  }
}
.settings-width{
  width: 400px;
}
.domain-dimensions{
  width: 200px;
  height: 100px;
}

.microbit-container{
  padding-left: 30px;
}

.card-container {
  display: flex;
  padding-left: 30px;
  width: 100%;
  flex-direction: column;
}
.leaflet-container{
  height: 85vh;
}

.notification-container {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 100;
}

.notification {
  padding: 10px;
  background-color: rgb(12 74 110);
  color: rgb(224 242 254);
  margin-bottom: 20px;
}

.innerCircle {
  color: var(--dark-card)
}


@keyframes reverse-loading {
  0% { width: 100%; }
  100% { width: 0; }
}

.notif-card {
  left: -10px;
  background-color: #c9d3fd !important;
  z-index: 1000;
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  font-size: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  transition: top 0.3s ease;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.form-overlay form {
  position: relative;
  background-color: #2e1f38;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 600px;
  transition: all 0.3s ease;
}

.form-overlay.open {
  background-color: rgba(0, 0, 0, 0.5);
}

.form-overlay form label,
.form-overlay form button {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
.form-overlay form button:hover {
  background-color: #ffffff;
  color: #2e1f38;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-overlay form button:first-of-type {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  border-radius: 100%;
}

.form-overlay form input {
  border-radius: 5px;
  padding: 5px;
  color: rgb(0,0,0);
  outline: none;  
}


.notif-box {
  overflow-x: hidden;
  z-index: 1;
  background-color: #3b3f63;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.deleting {
  transition: all 0.2s ease-in-out;
  transform: translateX(200%) scaleY(0);
}

.card {
  border-radius: 15px;
  background-color: var(--light-card);
}

.dark .card{
  background-color: var(--dark-card);
}

.selected-color{
  background-color: #385286 !important;
}

.card-title {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #D8D8D9;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.card-content {
  padding: 10px;
}

.content {
  margin-left: 200px;
}

.user-button {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.dark .user-button{
  color: rgb(219 234 254);
}
.user-button img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.login {
  position: relative;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 300px;
  width: 500px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
.login input{
  border: 1px solid black;
}

button {
  transition: all 0.3s ease;
}


button:active {
  background-color: #BDBDBC; /* adjust this color to suit your needs */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}