@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EAEAEB;
}

.banner {
  background-color: #B7B6B7;
  height: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
}

.title {
  color: black;
  font-size: 34px;
  padding-left: 240px;
  font-weight: bold;
}

.sidebar {
  background-color: #D9D9D9;
  width: 200px;
  height: 100vh;
  position: fixed;
}

.content {
  margin-left: 200px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}